<html>
    <head>
        <style type="text/css">
            body { margin: 30px; }
            body, table { font: 12px/18px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;}
            table { border-right: 1px solid #eee; border-bottom: 1px solid #eee; }
            table td { border-top: 1px solid #eee; border-left: 1px solid #eee; }
            table span { color: #888;}
        </style>
    </head>
    <body>
        <p>Dear {tag_RecipientName},</p>
        <p>You recently subscribed to one of our email marketing lists. Please click on the following link to verify [<strong>{tag_verificationurl}</strong>] your subscription.</p>
        <p>Thank you!</p>
        <p><strong>Yours sincerely,</strong></p>
        <p><strong>Siam Intercontinental Handicrafts</strong></p>
        <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br />
        Quality Unique Thai Handicrafts and Body Jewelry<br />
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br />
        191/7 Mare Kwar Moong Soi 3<br />
        Chang Kian Rd. T. Chang Phuek<br />
        Amphur Muang<br />
        Chiang Mai 50300<br />
        Thailand<br />
        Phone: +66 [0] 53 357631<br />
        Fax: +66 [0] 53 357632<br />
        Mobile: +66 [0] 81 5955125<br />
        E-mail: sales@SiamInterHandicrafts.com<br />
        http://www.SiamInterHandicrafts.com<br />
        Paypal ID: sales@SiamInterHandicrafts.com<br />
        Skype: oohemgum</p>
    </body>
</html>
