<!--
SVN Revision Information
Revision: $Rev: 250 $
Date: $Date: 2011-02-08 16:26:42 +0700 (Tue, 08 Feb 2011) $
Author: $Author: ian $
-->
<div class="blog-container">
<div class="heading">
<h2>{tag_blogtitle}</h2>
</div>
<p>{tag_blogdescription}</p>
<div class="wrapper clear">
<div class="post-list">
{tag_postlist}
<hr />
<p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>
</div>
<div class="side-panel">
<h4>Recent Posts</h4>
{tag_blogrecentpost}
<hr />
<h4>Tags</h4>
{tag_blogtagcloud}
{tag_blogtaglist}
<hr />
<h4>Archive</h4>
{tag_blogpostarchive}
</div>
</div>
<!-- END .wrapper -->
</div>
<!-- END .blog-container -->
