<!--
SVN Revision Information
Revision: $Rev: 250 $
Date: $Date: 2011-02-08 16:26:42 +0700 (Tue, 08 Feb 2011) $
Author: $Author: ian $
-->
<div class="blog-post">
  <h2 class="post-title"> {tag_blogposttitle} </h2>
  <div class="post-details"> {tag_blogpostauthor} - {tag_blogpostdate} </div>
  <div class="post-body"> {tag_blogpostbody}
    <div class="links">
      <a href="{tag_permalinkonly}#comments">Comments ({tag_commentcount})</a> | <a href="{tag_permalinkonly}#trackbacks">Trackbacks ({tag_trackbackcount})</a> | {tag_permalink}
    </div>
  </div>
</div>